In [5]:
# Import the pandas library
import pandas as pd

# Load the data into a DataFrame
df = pd.read_csv('../data/raw_data.csv')
df.head()

,age,gender,bmi,blood_pressure,cholesterol,heart_rate,family_history,diabetes_risk,smoking,exercise,diet_score,heart_disease
0,71,1,25.096030,110.746013,126.828192,77,1,2.838285,0,4,8.331999,0
1,34,1,18.051852,119.614214,228.162350,78,0,3.537308,0,4,7.206537,0
2,80,0,23.083926,101.846073,230.315009,97,0,7.673165,1,3,7.191206,1
3,40,1,27.708688,141.423513,264.831938,88,1,1.546587,0,6,5.770410,0
4,43,0,23.901775,94.161934,202.425733,74,1,7.308705,0,6,6.889251,0

In [6]:
# Print the shape of the DataFrame
df.shape

(5000, 12)

In [7]:
# Describe the DataFrame
df.describe()

,age,gender,bmi,blood_pressure,cholesterol,heart_rate,family_history,diabetes_risk,smoking,exercise,diet_score,heart_disease
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,54.478400,0.505200,24.921245,120.065402,201.276784,79.427800,0.516800,5.036749,0.488800,3.032800,6.969735,0.250000
std,20.091746,0.500023,5.102570,15.170952,49.913842,11.526411,0.499768,1.983387,0.499925,2.000331,1.963494,0.433056
min,20.000000,0.000000,7.305711,59.030953,22.951943,60.000000,0.000000,-2.935423,0.000000,0.000000,0.103914,0.000000
25%,37.000000,0.000000,21.470293,109.739827,167.191179,69.000000,0.000000,3.670374,0.000000,1.000000,5.611501,0.000000
50%,54.000000,1.000000,24.910967,120.357721,200.699168,79.000000,1.000000,5.043929,0.000000,3.000000,6.992369,0.000000
75%,72.000000,1.000000,28.347108,130.485031,235.245349,89.000000,1.000000,6.381126,1.000000,5.000000,8.314024,0.250000
max,89.000000,1.000000,42.720325,176.662350,377.822904,99.000000,1.000000,11.690949,1.000000,6.000000,13.560599,1.000000

In [8]:
# Info about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             5000 non-null   int64
 1   gender          5000 non-null   int64
 2   bmi             5000 non-null   float64
 3   blood_pressure  5000 non-null   float64
 4   cholesterol     5000 non-null   float64
 5   heart_rate      5000 non-null   int64
 6   family_history  5000 non-null   int64
 7   diabetes_risk   5000 non-null   float64
 8   smoking         5000 non-null   int64
 9   exercise        5000 non-null   int64
 10  diet_score      5000 non-null   float64
 11  heart_disease   5000 non-null   int64
dtypes: float64(5), int64(7)
memory usage: 468.9 KB