In [2]:
import pandas as pd

df = pd.read_csv('../data/raw_data.csv')
df.head()

,age,gender,bmi,blood_pressure,cholesterol,heart_rate,family_history,diabetes_risk,smoking,exercise,diet_score,heart_disease
0,71,1,25.096030,110.746013,126.828192,77,1,2.838285,0,4,8.331999,0
1,34,1,18.051852,119.614214,228.162350,78,0,3.537308,0,4,7.206537,0
2,80,0,23.083926,101.846073,230.315009,97,0,7.673165,1,3,7.191206,1
3,40,1,27.708688,141.423513,264.831938,88,1,1.546587,0,6,5.770410,0
4,43,0,23.901775,94.161934,202.425733,74,1,7.308705,0,6,6.889251,0

In [4]:
df.shape

(5000, 12)